name: Nightly Integration Tests

on:
  schedule:
    # 8 am UTC/midnight PST each day
    - cron: '0 2 * * *'

jobs:
  integration_test:
    name: Integration Tests
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    strategy:
      matrix:
        elixir: ["1.13.3"]
        otp: ["24.0.5"]

    # Remove if you don't need a database
    services:
      db:
        image: postgis/postgis:13-3.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: server_test
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Elixir Project
        uses: ./.github/actions/elixir-setup
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      # Remove if you don't need a database
      - name: Run Migrations
        run: mix ecto.migrate

      - name: Run Tests
        run: mix test --include integration
